//begin footer
+b.FOOTER.footer
	+e.container.container
		+b.A.logo.footer__logo(href='#!')
			+e.IMG(src='img/other/logo.png' alt='Novamatic')

		+e.nav
			+e.UL
				li: a(href='#!') Покупателю
				li: a(href='#!') Каталог товаров
				li: a(href='#!') Сервисы
				li: a(href='#!') Решения
				li: a(href='#!') О нас
				li: a(href='#!') О компании
				li: a(href='#!') Контакты
//end footer
