.icon-burger {
  width: 1.33em;
  height: 1em;
  fill: #8d93a3;
}
.icon-play {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-sld-arr-l {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-sld-arr-r {
  width: 1em;
  height: 1em;
  fill: initial;
}
