$icons: (0:0)
$icons: map-merge($icons,('arr-r': (X: -227px, Y:-112px, W: 10px, H: 16px, TW: 255px, TH: 185px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('arr-sm': (X: -227px, Y:-90px, W: 16px, H: 12px, TW: 255px, TH: 185px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('assembly-line': (X: -52px, Y:-106px, W: 43px, H: 31px, TW: 255px, TH: 185px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('award': (X: -180px, Y:-47px, W: 34px, H: 40px, TW: 255px, TH: 185px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('customer': (X: -180px, Y:0px, W: 37px, H: 37px, TW: 255px, TH: 185px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('hand': (X: 0px, Y:-106px, W: 42px, H: 34px, TW: 255px, TH: 185px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('id-card': (X: -68px, Y:0px, W: 49px, H: 42px, TW: 255px, TH: 185px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('like': (X: -45px, Y:-150px, W: 34px, H: 35px, TW: 255px, TH: 185px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('network': (X: 0px, Y:0px, W: 58px, H: 46px, TW: 255px, TH: 185px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('photo-camera': (X: -50px, Y:-56px, W: 43px, H: 36px, TW: 255px, TH: 185px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('photo-camera_gray': (X: -127px, Y:0px, W: 43px, H: 36px, TW: 255px, TH: 185px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('plug': (X: -89px, Y:-150px, W: 33px, H: 33px, TW: 255px, TH: 185px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('plug_gray': (X: 0px, Y:-56px, W: 40px, H: 40px, TW: 255px, TH: 185px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('sketch': (X: 0px, Y:-150px, W: 35px, H: 35px, TW: 255px, TH: 185px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('sketch_gray': (X: -180px, Y:-97px, W: 35px, H: 35px, TW: 255px, TH: 185px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('smartphone': (X: -227px, Y:-44px, W: 22px, H: 36px, TW: 255px, TH: 185px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('support': (X: -127px, Y:-46px, W: 39px, H: 37px, TW: 255px, TH: 185px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('trophy': (X: -227px, Y:0px, W: 28px, H: 34px, TW: 255px, TH: 185px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('truck': (X: -105px, Y:-106px, W: 39px, H: 28px, TW: 255px, TH: 185px, IMG: '../img/sprite.png')))


// Gets an attribute from the sass map
@function icon-attr($icon, $attr)
  $icon: map-get($icons, $icon)
  @return map-get($icon, $attr)

@mixin sprite($iconName)
  background-image: url(icon-attr($iconName, IMG))
  width: icon-attr($iconName, W)
  height: icon-attr($iconName, H)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-position($iconName)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-retina($iconName)
  background-image: url(icon-attr($iconName, IMG))
  $width: icon-attr($iconName, W)
  $height: icon-attr($iconName, H)
  width: $width/2
  height: $height/2
  $x: icon-attr($iconName, X)
  $y: icon-attr($iconName, Y)
  background-position: $x/2 $y/2
  $tw: icon-attr($iconName, TW)   
  $th: icon-attr($iconName, TH)
  background-size: $tw/2 $th/2    


@mixin s($i)
  +sprite($i)
@mixin sp($i)
  +sprite-position($i)
@mixin sr($i)
  +sprite-retina($i)  


.icon-arr-r
  width: 10px
  height: 16px
  background-image: url('../img/sprite.png')
  background-position: -227px -112px

.icon-arr-sm
  width: 16px
  height: 12px
  background-image: url('../img/sprite.png')
  background-position: -227px -90px

.icon-assembly-line
  width: 43px
  height: 31px
  background-image: url('../img/sprite.png')
  background-position: -52px -106px

.icon-award
  width: 34px
  height: 40px
  background-image: url('../img/sprite.png')
  background-position: -180px -47px

.icon-customer
  width: 37px
  height: 37px
  background-image: url('../img/sprite.png')
  background-position: -180px 0px

.icon-hand
  width: 42px
  height: 34px
  background-image: url('../img/sprite.png')
  background-position: 0px -106px

.icon-id-card
  width: 49px
  height: 42px
  background-image: url('../img/sprite.png')
  background-position: -68px 0px

.icon-like
  width: 34px
  height: 35px
  background-image: url('../img/sprite.png')
  background-position: -45px -150px

.icon-network
  width: 58px
  height: 46px
  background-image: url('../img/sprite.png')
  background-position: 0px 0px

.icon-photo-camera
  width: 43px
  height: 36px
  background-image: url('../img/sprite.png')
  background-position: -50px -56px

.icon-photo-camera_gray
  width: 43px
  height: 36px
  background-image: url('../img/sprite.png')
  background-position: -127px 0px

.icon-plug
  width: 33px
  height: 33px
  background-image: url('../img/sprite.png')
  background-position: -89px -150px

.icon-plug_gray
  width: 40px
  height: 40px
  background-image: url('../img/sprite.png')
  background-position: 0px -56px

.icon-sketch
  width: 35px
  height: 35px
  background-image: url('../img/sprite.png')
  background-position: 0px -150px

.icon-sketch_gray
  width: 35px
  height: 35px
  background-image: url('../img/sprite.png')
  background-position: -180px -97px

.icon-smartphone
  width: 22px
  height: 36px
  background-image: url('../img/sprite.png')
  background-position: -227px -44px

.icon-support
  width: 39px
  height: 37px
  background-image: url('../img/sprite.png')
  background-position: -127px -46px

.icon-trophy
  width: 28px
  height: 34px
  background-image: url('../img/sprite.png')
  background-position: -227px 0px

.icon-truck
  width: 39px
  height: 28px
  background-image: url('../img/sprite.png')
  background-position: -105px -106px
